<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unisinsight.business.mapper.DailyAttendanceExcludeDateMapper">
    <select id="isExcludeDate" resultType="java.lang.Boolean">
        SELECT CASE WHEN COUNT(1) > 0 THEN TRUE ELSE FALSE END
        FROM daily_attendance_exclude_dates
        WHERE type = #{type}
          AND start_date &lt;= #{date}
          AND end_date &gt;= #{date}
    </select>

    <select id="filterExcludeDates" resultType="java.time.LocalDate">
        SELECT date FROM (VALUES
        <foreach collection="dates" item="date" separator=",">
            (#{date})
        </foreach>
        ) AS dates(date)
                WHERE (SELECT CASE WHEN COUNT(1) = 0 THEN TRUE ELSE FALSE END
                       FROM daily_attendance_exclude_dates
                       WHERE type = #{type}
                         AND start_date &lt;= dates.date
                         AND end_date &gt;= dates.date)
    </select>
</mapper>